<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html;charset=UTF-8" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="0.2.0.Condition">
          <match url="^(Condition)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crcondition.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Composition">
          <match url="^(Composition)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crcomposition.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.MedicationRequest">
          <match url="^(MedicationRequest)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crmedicationrequest.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Immunization">
          <match url="^(Immunization)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crimmunization.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Parameters">
          <match url="^(Parameters)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crparameters.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Organization">
          <match url="^(Organization)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crorganization.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.ImplementationGuide">
          <match url="^(ImplementationGuide)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crimplementationguide.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Device">
          <match url="^(Device)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crdevice.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Bundle">
          <match url="^(Bundle)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crbundle.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.ImagingStudy">
          <match url="^(ImagingStudy)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crimagingstudy.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Patient">
          <match url="^(Patient)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crpatient.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.DiagnosticReport">
          <match url="^(DiagnosticReport)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crdiagnosticreport.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.PractitionerRole">
          <match url="^(PractitionerRole)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crpractitionerrole.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Flag">
          <match url="^(Flag)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crflag.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.DeviceUseStatement">
          <match url="^(DeviceUseStatement)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crdeviceusestatement.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Practitioner">
          <match url="^(Practitioner)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crpractitioner.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Specimen">
          <match url="^(Specimen)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crspecimen.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.StructureDefinition">
          <match url="^(StructureDefinition)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crstructuredefinition.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.AllergyIntolerance">
          <match url="^(AllergyIntolerance)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crallergyintolerance.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Observation">
          <match url="^(Observation)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crobservation.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Medication">
          <match url="^(Medication)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crmedication.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.Procedure">
          <match url="^(Procedure)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crprocedure.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.MedicationStatement">
          <match url="^(MedicationStatement)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="crmedicationstatement.asp?type={R:1}&amp;id={R:2}" />
        </rule>
        <rule name="0.2.0.OperationDefinition">
          <match url="^(OperationDefinition)/([A-Za-z0-9\-\.]{1,64})" />
          <action type="Rewrite" url="croperationdefinition.asp?type={R:1}&amp;id={R:2}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>